.alert {
  display: flex;
  position: fixed;
  bottom: 1%;
  right: 1%;
  align-items: center;
}

  @media screen and (max-width: 768px) {
    .alert {
      left: 1%;
    }
  }

.alert button {
  all: unset;
  cursor: pointer;
  padding: auto;
}

.alert-title {
  align-items: center;
  margin: auto;
}