.flash-notice .container {
  color: #0FFF50;
  border-left: 2px solid #0FFF50;
}

.flash-notice button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
}

.flash-notice {
  position: fixed;
  bottom: 0;
  right: 2%;
  background-color: #FFFFFF;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: .5px solid black;
  color: white;
  padding: 16px;
  z-index: 999;
  text-align: center;
}


.flash-notice h2 {
  margin-top: 0;
}

.flash-notice p {
  margin-bottom: 0;
}






