.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: black;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: black;
}

.navbar a:hover {
  transition-duration: .3s;
  color: #FACF0F;
}

.navbar .left-side {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: large;
}

.navbar img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #FACF0F;
  margin: 8px;
}

.navbar .name {
  padding-left: .8rem;
}

@media screen and (max-width: 768px) {
  .navbar .name {
    visibility: hidden;
  }
}

.navbar ul {
  display: flex;
  text-align: center;
}

.navbar li {
  display: block;
  list-style: none;
  padding: 10px 12px;
}

.navbar a {
  text-decoration: none;
  cursor: pointer;
  padding: 2px;
}


/* Hamburger Menu */
.hamburger-menu {
  padding-right: 10px;
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: black;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.navbar .menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  min-width: 200px;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}

.navbar .menu-items.active {
  display: flex;
  font-size: 30px;
  width: 100%;

  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.navbar .menu-items.active a {
  padding: 1rem;
}

.navbar .menu-items.active a:hover {
  transform: translateY(-.15rem);
}

@media screen and (max-width: 768px) {

  .navbar ul {
    position: fixed;
    right: -200%;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

}