.App {
  text-align: center;
  color: black;
  box-sizing: border-box;
  cursor:default;
}

h1 {
  margin-bottom: .8rem;
}

p {
  color: #666666;
  font-size: 18px;
}

button {
  background-color: #FACF0F;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  padding: .5rem 2rem;
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: .3s;
}

.navigationBT {
  all: unset;
}

.navigationBT:hover {
  all: unset;
  cursor: pointer;
  transition-duration: .3s;
  color: #FACF0F;
}

button:hover {
  transform: translateY(-.15rem);
}

hr.heading {
  border: 2px solid #facf0f;
  border-radius: 12px;
  width: 2.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  margin: .8rem auto 1.2rem auto;
}